@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap");
* {
  margin: 0;
  scroll-behavior: smooth;
}

body {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.center-horizon {
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  text-align: center;
}

.bg-blue {
  background-color: #377fdd;
  color: white;
}

.bg-orange {
  background-color: #ffca75;
  color: white;
}

.link-no-decoration {
  text-decoration: none;
}

.click-me-color {
  color: #38a6c7;
}

.click-me-color:hover {
  -webkit-text-decoration: underline 1px;
          text-decoration: underline 1px;
}

.App {
  font-family: 'Montserrat', sans-serif;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 45px;
  color: #3F444A;
  text-decoration: none;
  position: fixed;
  z-index: 20;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #3F444A;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
}

header a:hover, header a:focus, header a:active {
  text-decoration: none;
  color: #3F444A;
}

header .logo-main {
  font-family: 'Roboto', sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header h1 {
  margin-top: auto;
  margin-bottom: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-start;
}

header h1.logo-text-bold {
  font-weight: 450;
}

header h1.logo-text-normal {
  font-weight: 100;
}

header ul {
  list-style-type: none;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: "Nunito", sans-serif;
}

header ul li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header ul li h3 {
  font-weight: 600;
  font-size: 1.1rem;
}

header ul a:visited {
  text-decoration: none;
  color: #3F444A;
}

header ul a:hover, header ul a:focus, header ul a:active {
  text-decoration: none;
  color: lightblue;
}

header:last-child > span {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  justify-self: flex-start;
}

.header-link {
  cursor: pointer;
}

.main-graphic-img {
  z-index: 10;
  background-position-x: 50%;
  background-position-y: 40%;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  position: fixed;
  width: 100%;
  height: calc(90vh - 45px);
}

.gradient {
  top: 4rem;
  height: 520px;
  width: 100%;
  background: blue;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(244, 244, 244, 0)), color-stop(90%, #f4f4f4));
  background: linear-gradient(180deg, rgba(244, 244, 244, 0) 50%, #f4f4f4 90%);
}

.main-graphic-text-container {
  z-index: 15;
  color: white;
  position: fixed;
  top: 95px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-graphic-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
}

.info-icon {
  height: 30px;
  width: 30px;
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 1rem;
}

.info-text {
  font-weight: 200;
  font-size: 30px;
}

.main-graphic-text-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 40px;
}

@media only screen and (max-width: 700px) {
  .info-text {
    font-weight: 100;
    font-size: 20px;
  }
  .info-icon {
    height: 25px;
    width: 25px;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 1rem;
  }
}

.main-graphic-text-item-container a, .main-graphic-text-item-container a:visited, .main-graphic-text-item-container a:focus, .main-graphic-text-item-container a:active {
  text-decoration: none;
  color: white;
}

.hover:hover {
  color: lightblue;
}

.hover a:hover {
  color: lightblue;
}

.content {
  z-index: 15;
  position: relative;
  top: calc(90vh - 45px);
  background-color: #FFFFFF;
  width: 100%;
}

.content-container {
  color: #3F444A;
  width: 100%;
}

.main-content-div {
  min-height: 100vh;
  background-position-x: 50%;
  background-position-y: 40%;
  background-size: cover;
  width: 100%;
}

.projects {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 2rem;
  max-width: 30rem;
  margin-top: 45px;
  border-radius: 8px;
  overflow: hidden;
  height: 70vh;
  cursor: pointer;
}

.project-container:hover {
  -webkit-box-shadow: 0px 0px 10px #aaaaaa;
          box-shadow: 0px 0px 10px #aaaaaa;
}

@media only screen and (min-width: 2100px) {
  .project-container {
    max-width: 30vw;
  }
}

.project-item-title {
  margin-top: 10px;
  font-size: 2rem;
  font-weight: 400;
}

.project-img {
  margin-top: auto;
  margin-bottom: auto;
  max-height: 35vh;
  min-height: 35vh;
  width: 100%;
  border-radius: 8px 8px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.project-desc-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  margin-right: 10px;
  height: 300px;
}

.project-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 5px;
}

.project-tags:hover {
  overflow-x: scroll;
}

.tag-label {
  font-size: 1rem;
  margin-left: 5px;
  margin-right: 5px;
}

.tag-div {
  margin-left: 5px;
  margin-right: 5px;
}

.project-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
}

.project-modal-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 6px;
  left: 10px;
}

.link-active {
  color: #38a6c7;
  margin-right: 8px;
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
}

.link-inactive {
  color: grey;
  margin-right: 8px;
  font-size: 15px;
  text-decoration: none;
}

.content-title {
  position: relative;
  padding-top: 45px;
  text-align: center;
  font-weight: 300;
  font-size: 3rem;
}

.desc-text {
  font-size: large;
  margin-top: 10px;
}

.project-desc {
  height: 47%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-desc-long {
  min-height: 50vh;
  overflow: hidden;
}

.more-projects {
  font-size: 3rem;
  margin-top: 30px;
  text-align: center;
  font-weight: 200;
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
}

@media only screen and (min-width: 2500px) {
  .projects-title {
    position: relative;
    padding-top: 5px;
    text-align: center;
    font-weight: 200;
    font-size: 3vw;
  }
  .project-container h1 {
    font-size: 2vw;
  }
  .project-container .tag-label {
    font-size: 1vw;
    margin-left: .5vw;
    margin-right: .5vw;
    padding-left: .5vw;
    padding-right: .5vw;
  }
  .project-container .desc-text {
    font-size: 1vw;
  }
}

.tag-div {
  border-radius: 25px;
  padding: 3px;
  padding-left: 8px;
  padding-right: 8px;
  margin: 3px;
}

.form-container {
  width: 60vw;
  margin: auto;
  margin-top: 50px;
  padding: 50px 20px 50px 20px;
  -webkit-box-shadow: 0px 0px 10px #aaaaaa;
          box-shadow: 0px 0px 10px #aaaaaa;
  border-radius: 10px;
  background-color: #FFFFFF;
}

.form-group {
  margin-bottom: 30px;
}

.form-control {
  display: block;
  width: 100%;
  margin-top: 10px;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.form-textarea {
  resize: None;
  height: 200px;
  font-family: 'Nunito', sans-serif;
}

.btn-primary {
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: grey;
  color: #fff;
  padding: 10px;
}

.btn-primary:not(:disabled):not(.disabled) {
  background-color: #38a6c7;
  cursor: pointer;
}

.about-text-div {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.about-text {
  padding-inline: 50px;
  margin: auto;
  border-radius: 10px;
  font-weight: 400;
  color: white;
}

.contact-link, .contact-link:visited, .contact-link:focus {
  text-decoration: none;
  color: #3ad4a1;
  cursor: pointer;
}

.contact-link:hover {
  text-decoration: underline;
}

.page-container {
  margin-top: 45px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 20;
}

.modal-main {
  position: fixed;
  background: white;
  width: 50vw;
  height: 80vh;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

.modal-close {
  height: 30px;
  width: 30px;
  position: absolute;
  right: 5px;
  top: 5px;
}

@media only screen and (max-width: 1000px) {
  .modal-main {
    width: 500px;
  }
}

@media only screen and (max-width: 500px) {
  .modal-main {
    width: 100vw;
  }
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
/*# sourceMappingURL=index.css.map */